<launch>
    <param name ="/use_sim_time" value="true"/>

    <arg name="map_file" default="/home/koksyuen/Documents/fyp_result/mlmapping/map2.yaml"/>

    <!-- Move Base Package -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <rosparam file="$(find data_recorder)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />

    <rosparam file="$(find data_recorder)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />

    <rosparam file="$(find data_recorder)/config/local_costmap_params.yaml" command="load" />

    <rosparam file="$(find data_recorder)/config/global_costmap_params.yaml" command="load" />

    <rosparam file="$(find data_recorder)/config/trajectory_planner.yaml" command="load" />

    </node>

    <!-- Map Server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" output="screen">

        <param name="frame_id"  type="string"   value="orb/map" />

    </node>


</launch>