<?xml version="1.0"?>
<launch>
  <param name ="/use_sim_time" value="true"/>

  <!-- record ground truth from SICK NAV350-->
    <node pkg="data_recorder" type="vo_repub_rec" name="nav3502file" output="screen">
        <!--Sub Support Type:-->
        <!--"TransformStamped"-->
        <!--"PointStamped"-->
        <!--"PoseStamped"-->
        <param name="sub_type" type="string" value="Odometry" />
        <param name="sub_topic" type="string" value="/sick/odom" />
        <param name="output_file_path" type="string" value="/home/koksyuen/Documents/fyp_result/result/orb_t265_nav350_speed3/nav350.txt" />
    </node>

  <!-- record ground truth from T265-->
    <node pkg="data_recorder" type="vo_repub_rec" name="t2652file" output="screen">
        <!--Sub Support Type:-->
        <!--"TransformStamped"-->
        <!--"PointStamped"-->
        <!--"PoseStamped"-->
        <param name="sub_type" type="string" value="Odometry" />
        <param name="sub_topic" type="string" value="/t265/odom/sample" />
        <param name="output_file_path" type="string" value="/home/koksyuen/Documents/fyp_result/result/orb_t265_nav350_speed3/t265.txt" />
    </node>

    <!-- record the pose estimated by orbslam3 -->
    <node pkg="data_recorder" type="vo_repub_rec" name="orb2file" output="screen">
      <!--Sub Support Type:-->
      <!--"TransformStamped"-->
      <!--"PointStamped"-->
      <!--"PoseStamped"-->
      <param name="sub_type" type="string" value="PoseStamped" />
      <param name="sub_topic" type="string" value="/orb_pose" />
      <param name="output_file_path" type="string" value="/home/koksyuen/Documents/fyp_result/result/orb_t265_nav350_speed3/orbslam3.txt" />
    </node>

</launch>
