<?xml version="1.0"?>
<launch>
  <!-- record ground truth from euroc bag file -->
    <node pkg="data_recorder" type="vo_repub_rec" name="euroc2file" output="screen">
        <!--Sub Support Type:-->
        <!--"TransformStamped"-->
        <!--"PointStamped"-->
        <!--"PoseStamped"-->
        <param name="sub_type" type="string" value="TransformStamped" />
        <param name="sub_topic" type="string" value="/vicon/firefly_sbx/firefly_sbx" />
        <param name="output_file_path" type="string" value="/home/koksyuen/Documents/fyp2/fyp_result/ros_orbslam3_euroc/euroc_gt.txt" />
    </node>

    <!-- record the pose estimated by orbslam3 -->
    <node pkg="data_recorder" type="vo_repub_rec" name="orb2file" output="screen">
      <!--Sub Support Type:-->
      <!--"TransformStamped"-->
      <!--"PointStamped"-->
      <!--"PoseStamped"-->
      <param name="sub_type" type="string" value="PoseStamped" />
      <param name="sub_topic" type="string" value="/orb_slam3_ros/camera" />
      <param name="output_file_path" type="string" value="/home/koksyuen/Documents/fyp2/fyp_result/ros_orbslam3_euroc/ros_orbslam3_stereo_inertial.txt" />
    </node>

</launch>
